%section.banner-slider
    %ul.bxslider
        - if @static_pages_headers.present?
            - @static_pages_headers.sort_by(&:page_order).each do |sph|
                -if sph.banner.present?
                    %li
                        %a{href: "#{static_page_path(friendly_id: sph.slug)}"}
                            = image_tag sph.banner.full
                            %div.slide
                                %h1= sph.banner_caption
                                %p= sph.banner_description
        %li
            %a{href: "#{new_form_path}"}
                = image_tag 'zapishi-se-online.jpg'
                .slide
                    %h1= t(:apply_online)
        %li
            %a{href: "#{new_ticket_path}"}
                = image_tag 'samoletni-bileti.jpg'
                .slide
                    %h1= t(:ticket_form)
        %li
            %a{href: "#"}
                = image_tag 'contacts.png'
                .slide.slide-last
                    %h1= t(:contacts)
                    = @contacts_slider.setting.html_safe if @contacts_slider.present?
%section.info-banner
    %div.yellow-box-text
        = @yellow_box_text.setting.html_safe if @yellow_box_text.present?
    %div.inter-exchange-banner
        = link_to image_tag('logo-InterExchange.png'), 'http://interexchange.org'
    %div.white-text-box.large-text-inside
        = @second_white_box.setting.html_safe if @second_white_box.present?
%section.info-grid
    -if @offers.present?
        - @offers.sort_by(&:offer_order).each do |of|
            .single-grid
                - if of.banner.present?
                    .info-img
                        = link_to image_tag(of.banner.thumb, class: 'under'), offer_path(friendly_id: of.friendly_id, locale: params[:locale])
                        = image_tag('grid-arrow.png', class: 'over')
                - else
                    = link_to image_tag('blank_thumb.jpg'), offer_path(friendly_id: of.friendly_id, locale: params[:locale])
                %p.offer-title
                    %span= link_to of.title, offer_path(friendly_id: of.friendly_id, locale: params[:locale])
                    %br
                    = strip_tags of.locations
                %div.offer-description
                    = of.description.html_safe
%section.info-banner
    %div.purple-text-box
        = @purple_box_text.setting.html_safe if @yellow_box_text.present?
    %div.jobs-button
        = @jobs_fletcher_lynd_link.setting.gsub('<p>', '').gsub('</p>', '').html_safe if @jobs_fletcher_lynd_link.present?
    %div.white-text-box
        = @first_white_box.setting.html_safe if @first_white_box.present?
.info-online
    = link_to image_tag('skype.png'), generate_job_fair_link
    = @after_job_fair_text.setting.html_safe if @after_job_fair_text.present?
.banner-button
    %div
        = link_to t(:yellow_banner), new_form_path
    %div
        = link_to t(:green_banner), generate_prices_and_terms_link