!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    :css 
      table:nth-child(odd) { background-color: #cee388; }
      td { margin-right: 5px; font-size: 16px; }

  %body
    %div{width: "100%", style:"background-color: #222221"}
      %a{href: "http://fletcher.herokuapp.com"}
        %img{src: "http://www.fletcher.herokuapp.com/images/logo.png", style: "padding-left: 10px; padding-top:5px;"}
    %h1 
      = "#{@a.first_name} #{@a.last_name} попълни формата за кандидатстване в Fletcher Work And Travel"
    %p 
      %table
        %thead{style: "background-color: gray;"}
          %tr
            %td
              %b
                Поле
            %td
              %b
                Стойност
        %tbody
          %tr
            %td
              Лично име
            %td
              = @a.first_name
          %tr
            %td
              Фамилно име
            %td
              = @a.last_name
          %tr
            %td
              Рождена дата
            %td
              = @a.birthday.strftime('%Y-%h-%d')
          %tr
            %td
              Номер на лична карта
            %td
              = @a.passport_num
          %tr
            %td
              Лична карта валидна до
            %td
              = @a.passport_valid_date
          %tr
            %td
              Email
            %td
              = @a.email
          %tr
            %td
              Мобилен телефон
            %td
              = @a.mobile
          %tr
            %td
              Дестинация
            %td
              = @a.destination
          %tr
            %td
              Дата на отпътуване
            %td
              = @a.departure_date
          %tr
            %td
              Дата на завръщане
            %td
              = @a.comeback_date
          %tr
            %td
              Авиолинии
            %td
              = @a.airlines
          %tr
            %td
              Време на пристигане в САЩ
            %td
              = @a.arrival_time
          %tr
            %td
              Коментари
            %td
              = @a.comments
    %br
  %div{width: "100%", style:"background-color: #222221"}
    %h2{style: "color: #fff"}
      = t(:contacts)
    %table{style: "color: #fff"}
      %tr
        %td
          %span
            = t(:sofia)
          %br
          = t(:gurko)
          %br
          = t(:sof_phones)
          %br
          %a{href: "mailto:info@fletcherlynd.com", target: "_top", style: "color: #fff"}
            info@fletcherlynd.com
        %td
          %span
            = t(:blagoevgrad)
          %br
          = t(:alexandrov)
          %br
          = t(:bl_phones)
          %br
          %a{href: "mailto:blagoevgrad@fletcherlynd.com", target: "_top", style: "color: #fff"}
            blagoevgrad@fletcherlynd.com
    .bottomSocial
      %a{href: "mailto:info@fletcherlynd.com", target: "_top"}
      %a
      %a
    %a{href:"http://fletcherlynd.com", target:"_blank"}
