.banner
	= image_tag "samoletni-bileti.jpg"
.content
	%h1= t(:ticket_form)
	= @formd.setting.html_safe if @formd.present?
	= form_for @ticket, url: tickets_path do |f|
		= if @ticket.errors.any?
			= pluralize(@ticket.errors.count 'error')
			'prohibited this form from being saved'
			%ul
				- @ticket.errors.full_messages.each do |msg|
					%li 
						= msg
		.form
			%div
				%p
					= f.label t(:first_name)
					%br
					= f.text_field :first_name
				%p
					= f.label t(:last_name)
					%br 
					= f.text_field :last_name
				%p.date
					= f.label t(:birthday)
					%br
					= date_select :ticket, :birthday, start_year: Time.now.year - 30, end_year: Time.now.year - 18
			%div
				%p
					= f.label t(:passport_num)
					%br
					= f.text_field :passport_num
				%p.date
					= f.label t(:passport_valid_date)
					%br
					= date_select :ticket, :passport_valid_date, start_year: Time.now.year, end_year: Time.now.year + 10 
				%p
					= f.label t(:email)
					%br
					= f.text_field :email
			%div
				%p
					= f.label t(:mobile)
					%br
					= f.text_field :mobile
				%p
					= f.label t(:destination)
					%br
					= f.text_field :destination
				%p
					= f.label t(:airlines)
					%br
					= f.text_field :airlines
			%div
				%p.date
					= f.label t(:departure_date)
					%br
					= date_select :ticket, :departure_date, start_year: Time.now.year, end_year: Time.now.year + 3
				%p.date
					= f.label t(:comeback_date)
					%br
					= date_select :ticket, :comeback_date, start_year: Time.now.year, end_year: Time.now.year + 5
				%p
					= f.label t(:arrival_time)
					%br
					= f.text_field :arrival_time
			%div
				%p
					= f.label t(:comments)
					%br
					= f.text_area :comments
			= show_simple_captcha(:object=>"ticket")
			.submit	
				= f.submit 'Submit', id: 'submit-button'