<h1>Document upload</h1>
<p>just some test here</p>
<%= form_for @document, url: documents_path do |f| %>
	<% if @document.errors.any? %>
		<ul>
			<% @document.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
	<%= f.label :name %><br/>
	<%= f.text_field :name %><br/>
	<%= f.label :location %><br/>
	<%= f.file_field :location %><br/>
	<%= f.label :static_page_id %><br/>
	<%= collection_select(:document, :static_page_id, @static_pages, :id, :title, prompt: true) %><br/>
	<%= f.submit %>
<% end %>