- if @page.banner.present?
    %section.banner
        = image_tag @page.banner.full
%section.content
    %h1= @page.title
    = @page.body.html_safe
.banner-button
    %div
        = link_to t(:yellow_banner), new_form_path
    %div
        = link_to t(:green_banner), "/#{generate_prices_and_terms_link}"