!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    :css 
      table:nth-child(odd) { background-color: #cee388; }
      td { margin-right: 5px; font-size: 16px; }

  %body
    %div{width: "100%", style:"background-color: #222221"}
      %a{href: "http://fletcher.herokuapp.com"}
        %img{src: "http://www.fletcher.herokuapp.com/images/logo.png", style: "padding-left: 10px; padding-top:5px;"}
    %h1 
      = "Вие успешно попълнихте контактната форма на Fletcher Lynd Work And Travel"
    %p 
      Благодарим ви за проявения интерес към програмата Work and Travel на Fletcher Lynd.
      %br
      Наш служител ще се свърже с вас по email за последващи инструкции.
    %br
  %div{width: "100%", style:"background-color: #222221"}
    %h2{style: "color: #fff"}
      = t(:contacts)
    %table{style: "color: #fff"}
      %tr
        %td
          %span
            = t(:sofia)
          %br
          = t(:gurko)
          %br
          = t(:sof_phones)
          %br
          %a{href: "mailto:info@fletcherlynd.com", target: "_top", style: "color: #fff"}
            info@fletcherlynd.com
        %td
          %span
            = t(:blagoevgrad)
          %br
          = t(:alexandrov)
          %br
          = t(:bl_phones)
          %br
          %a{href: "mailto:blagoevgrad@fletcherlynd.com", target: "_top", style: "color: #fff"}
            blagoevgrad@fletcherlynd.com
    .bottomSocial
      %a{href: "mailto:info@fletcherlynd.com", target: "_top"}
      %a
      %a
    %a{href:"http://fletcherlynd.com", target:"_blank"}
