!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    :css 
      table:nth-child(odd) { background-color: #cee388; }
      td { margin-right: 5px; font-size: 16px; }

  %body
    %div{width: "100%", style:"background-color: #222221"}
      %a{href: "http://fletcher.herokuapp.com"}
        %img{src: "http://www.fletcher.herokuapp.com/images/logo.png", style: "padding-left: 10px; padding-top:5px;"}
    %h1 
      = "#{@c.names} попълни контактната формата във Fletcher Lynd"
    %p 
      %table
        %thead{style: "background-color: gray;"}
          %tr
            %td
              %b
                Поле
            %td
              %b
                Стойност
        %tbody
          %tr
            %td
              Имена
            %td
              = @c.names
          %tr
            %td
              Email
            %td
              = @c.email
          %tr
            %td
              Съобщение
            %td
              = @c.message
    %br
  %div{width: "100%", style:"background-color: #222221"}
    %h2{style: "color: #fff"}
      = t(:contacts)
    %table{style: "color: #fff"}
      %tr
        %td
          %span
            = t(:sofia)
          %br
          = t(:gurko)
          %br
          = t(:sof_phones)
          %br
          %a{href: "mailto:info@fletcherlynd.com", target: "_top", style: "color: #fff"}
            info@fletcherlynd.com
        %td
          %span
            = t(:blagoevgrad)
          %br
          = t(:alexandrov)
          %br
          = t(:bl_phones)
          %br
          %a{href: "mailto:blagoevgrad@fletcherlynd.com", target: "_top", style: "color: #fff"}
            blagoevgrad@fletcherlynd.com
    .bottomSocial
      %a{href: "mailto:info@fletcherlynd.com", target: "_top"}
      %a
      %a
    %a{href:"http://fletcherlynd.com", target:"_blank"}
