<div class="banner">
	<%= image_tag "zapishi-se-online.jpg" %>
</div>
<div class="content">
	<h1><%= t(:app_form) %></h1>
	<p><%= @formd.setting.html_safe if @formd.present? %></p>
	<%= form_for @form, url: forms_path do |f| %>
		<% if @form.errors.any? %>
			<ul>
				<% @form.errors.full_messages.each do |msg| %>
				<li class="error-message"><%= msg %></li>
				<% end %>
			</ul>
		<% end %>
</div>
<div class="form">
	<div>
		<p>
			<%= f.label t(:first_name) %><br/>
			<%= f.text_field :first_name %><br/>
		</p>
		<p>
			<%= f.label t(:fathers_name) %><br/>
			<%= f.text_field :fathers_name %><br/>
		</p>
		<p>
			<%= f.label t(:last_name) %><br/>
			<%= f.text_field :last_name %><br/>
		</p>
		<p class="date" >
			<%= f.label t(:birthday) %><br/>
			<%= date_select :form, :birthday, start_year: Time.now.year - 35, end_year: Time.now.year - 18 %><br/>
		</p>
		<p>
			<%= f.label t(:place_of_birth) %><br/>
			<%= f.text_field :place_of_birth %><br/>
		</p>
	</div>
	<div>
		<p>
			<%= f.label t(:mobile) %><br/>
			<%= f.text_field :mobile %><br/>
		</p>
		<p>
			<%= f.label t(:skype) %><br/>
			<%= f.text_field :skype %><br/>
		</p>
	</div>
	<div>
		<p>
			<%= f.label t(:university) %><br/>
			<%= collection_select(:form, :university_id, @universities, :id, :name, prompt: true) %><br/>
		</p>
		<p>
			<%= f.label t(:year_of_study) %><br/>
			<%= select "form", "year_of_study", [ ["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"], ["master 1", "master 1"], ["master 2", "master 2"], ["master 3", "master 3"], ["master 4", "master 4"], ] %><br/>
		</p>
	</div>
	<div>
		<p>
			<%= f.label t(:email) %><br/>
			<%= f.text_field :email %><br/>
		</p>
	</div>
	<div>
		<p>
			<%= f.label t(:fletcher_office) %><br/>
			<%= select "form", "fletcher_office", [[ "Sofia", "Sofia" ], [ "Blagoevgrad", "Blagoevgrad" ]] %><br/>
		</p>
	</div>
	<div>
		<p>
			<%= f.label t(:wandt) %>
			<%= f.check_box :wandt %>
		</p>
		<p>
			<%= f.label t(:selfarranged) %>
			<%= f.check_box :selfarranged %><br/>
		</p>
	</div>
	<%= show_simple_captcha(:object=>"form") %>
	<div class="submit">
		<%= f.submit "Submit", id: "submit-button" %>
	</div>
</div>
<% end %>