- form_for @form, url: forms_path do |f|
	= if @form.errors.any?
		= pluralize(@form.errors.count 'error')
		'prohibited this form from being saved'
		%ul
			- @form.errors.full_messages.each do |msg|
				%li 
					= msg
	= f.label :last_name
	= f.text_field :last_name
	= f.label :first_name
	= f.text_field :first_name
	= f.label :fathers_name
	= f.text_field :fathers_name
	= f.label :birthday
	= f.text_field :birthday
	= f.label :place_of_birth
	= f.text_field :place_of_birth
	= f.label :mobile
	= f.text_field :mobile
	= f.label :skype
	= f.text_field :skype
	= f.label :university
	= f.text_field :university
	= f.label :year_of_study
	= f.text_field :year_of_study
	= f.label :email
	= f.text_field :email
	= f.label :fletcher_office
	= f.text_field :fletcher_office
	= f.submit