// ********** Variables **********
$black: #000;
$white: #fff;
$yellow: #f2cb13;
$header: #222222;
$grey: #878786;
$grey-light: #d9d9d9;
$green: #a2c037;
$violet: #3c3e6e;
$violet-dark: #21233d;
$litegreen: #CEE388;
// ********** END Variables **********

// ********** Fonts Helen **********
@font-face {
    font-family: 'Helen-Regular';
    font-weight: normal;
    src: url('../fonts/helenbg/HelenBg-Regular.otf');
}

@font-face {
    font-family: 'Helen-Black';
    font-weight: normal;
    src: url('../fonts/helenbg/HelenBg-Black.otf');
}

@font-face {
    font-family: 'Helen-Bold';
    font-weight: normal;
    src: url('../fonts/helenbg/HelenBg-Bold.otf');
}

@font-face {
    font-family: 'Helen-Light';
    font-weight: normal;
    src: url('../fonts/helenbg/HelenBg-Light.otf');
}

@font-face {
    font-family: 'SegoeProDisplay-Light';
    font-weight: normal;
    src: url('../fonts/segoepro/SegoeProDisplay-Light.ttf');
}

@font-face {
    font-family: 'SegoeProDisplay-Bold';
    font-weight: normal;
    src: url('../fonts/segoepro/SegoeProDisplay-Bold.ttf');
}
@font-face {
    font-family: 'SegoePro-Regular';
    font-weight: normal;
    src: url('../fonts/segoepro/SegoePro-Regular.ttf');
}
// ********** End of Fonts Helen **********