// **** IGNORE ****

// sass --watch stylesheet:stylesheet --style compressed

// **** END of IGNORE ****

// ********** Limited reset **********
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr, textarea, input {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    border-image-width: 0;
}
// ********** END Limited reset **********

// add colors and variables
@import "variables";

body {
    overflow-x: hidden;
}

// clearfix
.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE6/7 (trigger hasLayout) */
}
// link styles
a {
    text-decoration: none;
    color: $white;
    &:hover {
        color: $yellow;
    }
}

// ********** Flash Message **********

.alert {
  padding: 25px 0px;
  margin: 20px 0px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  max-width: 1024px;
  margin: 16px auto 16px;
}

.alert p {
    padding-left: 10px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: $grey;
  background-color: $litegreen;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

button.close {
    padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  padding-right: 30px;
}


// ********** END of Flash Message **********

// ********** HOME PAGE***************************************************************************************************************
// Home layout

body {
    font-family: 'SegoePro-Regular', sans-serif;
    font-weight: normal;
}

h1 {
    font-family: 'Helen-Bold', sans-serif;
    font-size: 2.125em;
    color: $yellow;
}

// ********** Header **********
header {
    height: 90px;
    background-color: $header;
    line-height: 86px;
    .clearfix {
        height: 90px;
        max-width: 1024px;
        margin: 0 auto;
    }
    .logo {
        display: inline-block;
        float: left;
        border-right: 1px solid $white;
        vertical-align: middle;
        padding: 0 18px;
        img {
            vertical-align: middle;
        }

    }
}

nav {
    font-family: 'Helen-Regular', sans-serif;
    float: left;
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    margin: 0 0 0 16px;
    width: 77%;
    height: 40px;
    ul {
        max-height: 90px;
        margin-top: 2px;
    }
    a {
        font-size: 13px;
        margin-right: 5px;
    }
    a.active {
        color: $yellow;
    }
}
#menuButton {
    display: none;
}
.rightMenu {
    float: right;
    height: 20px;
    line-height: 20px;
    div {
        vertical-align: middle;
        display: inline-block;
        color: $grey;
        font-size: 12px;
        font-family: 'Helen-Bold', sans-serif;
        padding: 0 18px 0 35px;
        span {
            border-right: 1px solid $grey;
            margin: 0 1px;
        }
    }
    &>a {
        vertical-align: middle;
        display: inline-block;
        padding-bottom: 4px;
        &:nth-child(1) {
            width: 20px;
            height: 10px;
            background: url('../images/icons-social.png') no-repeat 0 0;
            &:hover {
                background: url('../images/icons-social.png') no-repeat 0 -14px;
            }
        }
        &:nth-child(2) {
            margin: 0 8px;
            width: 15px;
            height: 10px;
            background: url('../images/icons-social.png') no-repeat -30px 0;
            &:hover {
                background: url('../images/icons-social.png') no-repeat -30px -14px;
            }
        }
        &:nth-child(3) {
            width: 16px;
            height: 10px;
            background: url('../images/icons-social.png') no-repeat -55px 0;
            &:hover {
                background: url('../images/icons-social.png') no-repeat -55px -14px;
            }
        }
    }
}
// ********** END of Header **********

// ********** banner-slider **********
.banner-slider{
    background-color: $yellow;
    //height: 565px;
    max-width: 1024px;
    margin: 0 auto;
}

.bxslider li {
    position: relative;
    text-align: center;
}
.slide {
    position: absolute;
    top: 43%;
    width: 100%;
    color: $white;
    h1 {
        font-size: 59.73px;
        font-family: 'Helen-Bold', sans-serif;
        letter-spacing: -1px;
        margin-bottom: 10px;
        color: $white;
        &:hover {
            color: $white;
        }
    }
    p {
        font-size: 25.6px;
        font-family: 'SegoeProDisplay-Light', sans-serif;
        margin-top: 19px;
        line-height: 28px;
        span {
            font-size: 59.73px;
            line-height: 71px;
        }
    }
}
.slide-last {
    p {
        font-size: 15px;
        color: $black;
        margin-bottom: 18px;
        line-height: 17px;
        a {
            color: $black;
            &:hover {
                color: $black;
            }
        }
    }
    div {
        display: block;
        vertical-align: bottom;
        margin-top: 27px;
        &>a {
            display: inline-block;
            &:nth-child(1) {
                width: 42px;
                height: 32px;
                background: url('../images/icons-social-contacts.png') 0 0;
            }
            &:nth-child(2) {
                margin: 0 23px;
                width: 33px;
                height: 32px;
                background: url('../images/icons-social-contacts.png') -67px 0;
            }
            &:nth-child(3) {
                width: 34px;
                height: 32px;
                background: url('../images/icons-social-contacts.png') -126px 0;
            }
        }
    }
}

.banner {
    img {
        border-bottom: solid 7px $yellow;
    }
}

.info-online > a > img {
    opacity: 0.7;
}

.info-online > a > img:hover{
    opacity: 1;
}

.form {
  max-width: 1024px;
  margin: 0 auto;
  color: $black;
  h1 {
    color: $yellow;
    font-size: 55px;
    font-weight: bold;
    text-align: left;
  }
  label {
    font-size: 18px;
    text-align: justify;
  }
  .date {
    select {
      width: auto;
      min-width: 75px;
      margin: 10px auto;
      &:nth-child(1) {
          width: 10%
      }
      &:nth-child(2) {
          width: 65%
      }
      &:nth-child(3) {
          width: 35%
      }
    }
  }
  .title {
    display: block;
    text-align: center;
  }
  input {
    width: 328px;
    height: 44px;
    border: 1px solid $grey;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
  }
  select {
    width: 328px;
    height: 44px;
    border: 1px solid $grey;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    background-image: url("arws.png");
    background-repeat: no-repeat;
    background-position: 98.7% 63%;
    padding-right: 5px;
  }
  div {
    text-align: center;
    max-width: 1024px;
    height: auto;
    border-bottom: 1px solid $grey;
    padding: 30px 0;
    p {
      display: inline-block;
      text-align: center;
      width: 330px;
      margin-right: 12px;
      &:nth-child(3) {
          margin-right: 0;
        }
    }
  }

  textarea {
    width: 328px;
    border: 1px solid $grey;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
  }

  .lastDiv {
    p{
      line-height: 110%;
      font-size: 16px;
      span {
        font-weight: bold;
        display: block;
      }
    }
  }
  #submit-button {
    border-bottom: none;
    width: 328px;
    height: 44px;
    background-color: $header;
    border: none;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    color: $white;
    font-size: 17px;
    cursor: pointer;
    }

    .simple_captcha_image img {
        vertical-align: middle;
    }

    .simple_captcha_image a{
        color: black;
    }

    .simple_captcha_image {
        font-size: 0.7em;
    }
}

.content {
    p {
        a {
            color: $yellow;
        }
        a:hover {
            text-decoration: underline;
        }
        strong {
            font-weight: bold;
        }
    }
}

.info-grid {
    .single-grid {
        div.offer-description {
            width: 406px;
            p {
                display: block;
                padding: 10px 10px;
            }
        }
        .offer-title {
            width: 100%;
        }
    }
}


// ********** END OF banner-slider **********

// ********** Responsive **********
@media all and (max-width: 1005px) {

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    // Header
    header {
        height: auto;
        .clearfix {
            height: auto;
            ul {
                height: inherit;
                max-height: none;
            }
        }
    }
    nav {
        margin: 0;
        width: 100%;
        height: auto;
        padding-top: 0;
        a {
            line-height: 50px;
            height: 50px;
            margin: 0;
            display: block;
            font-size: 16px;
            text-align: center;
            background-color: $header;
            border-bottom: solid 1px $white;
            &:first-child {
                border-top: solid 1px $white;
            }
        }
        ul {
            height: auto;
            width: 100%;
            max-width: none;
        }
    }
    .rightMenu {
        line-height: 86px;
    }
    #menuButton {
        display: inline-block;
        float: right;
        margin: 30px 20px 0px 30px;
        width: 30px;
        height: 30px;
        background: url('../images/menu.png') 0 0;
            &:hover {
                background: url('../images/menu.png') 0 -30px;
            }

    }
}

@media all and (max-width: 810px) {
    // Section
    .slide {
        h1 {
            font-size: 40px;
        }
        p {
            display: inline-block;
            font-size: 20px;
            margin-top: 0;
            line-height: 24px;
            span {
                font-size: 40px;
                line-height: 55px;
            }
        }
    }
    .slide-last {
        p {
            font-size: 14px;
            &:nth-child(2) {
                margin-right: 40px;
            }
        }
        div {
            margin: 0;
        }
    }

}

@media all and (max-width: 710px) {
    // Section
    .slide-last {
        top: 28%;
        p {
            font-size: 12px;
            line-height: 16px;
            &:nth-child(2) {
                margin-right: 40px;
            }
        }
        div {
            margin: 0;
        }
    }
    .banner-slider .bx-wrapper .bx-controls-direction a {
        width: 70px;
        height: 70px;
        background: url(../images/arrow-70.png) no-repeat;
        &:hover {
            background-position: -70px 0;
        }
    }
}

@media all and (max-width: 610px) {
    // Section
    .banner-slider .bx-wrapper .bx-controls-direction a {
        width: 50px;
        height: 50px;
        background: url(../images/arrow-50.png) no-repeat;
        &:hover {
            background-position: -50px 0;
        }
    }
}

@media all and (max-width: 490px) {
    // Header
    .rightMenu {
        &> a {
            display: none;
        }
    }

    // Section
    .slide {
        h1 {
            margin-bottom: 0;
            font-size: 34px;
        }
        p {
            display: block;
            font-size: 16px;
            line-height: 20px;
            span {
                font-size: 34px;
                line-height: 40px;
            }
        }
    }
    .slide-last {
        top: 0;
        p {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 10px;
            &:nth-child(2) {
                margin-right: 10px;
            }
        }
        div {
            &>a {
                display: inline-block;
                &:nth-child(1) {
                    width: 24px;
                    height: 18px;
                    background: url('../images/icons-social-contacts-18.png') 0 0;
                }
                &:nth-child(2) {
                    margin: 0 9px;
                    width: 19px;
                    height: 18px;
                    background: url('../images/icons-social-contacts-18.png') -38px 0;
                }
                &:nth-child(3) {
                    width: 19px;
                    height: 18px;
                    background: url('../images/icons-social-contacts-18.png') -71px 0;
                }
            }
        }

    }

}

@media all and (max-width: 430px) {
    // Section
    .slide {
        h1 {
            font-size: 28px;
        }
        p {
            font-size: 14px;
            line-height: 16px;
            span {
                font-size: 28px;
                line-height: 30px;
            }
        }
    }
    .slide-last {
        p {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 10px;
            &:nth-child(2) {
                margin-right: 10px;
            }
        }
    }

}

@media all and (max-width: 390px) {
    // Header
    .rightMenu {
        div {
            padding: 0 5px;
        }
    }
    #menuButton {
        margin: 30px 5px 0px 5px;
    }

    // Section
    .slide-last {
        p {
            margin: 5px;
            line-height: 13px;
        }
    }
    .banner-slider .bx-wrapper .bx-controls-direction a {
        width: 35px;
        height: 35px;
        background: url(../images/arrow-35.png) no-repeat;
        &:hover {
            background-position: -35px 0;
        }
    }
}

// ********** END OF HOME PAGE********************************************************************************************************
// ********** Self-arranged***********************************************************************************************************
// ************* Section **************
.banner {
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
    position: relative;
    img {
        width: 100%;
        height: auto;
        margin-bottom: -5px;
    }
}
.content {
    font-family: 'SegoePro-Regular', sans-serif;
    font-size: 21.34px;
    padding: 65px;
    margin: 0 auto;
    max-width: 1024px;
    p {
        margin-bottom: 30px;
    }
}
.names {font-weight: bold;}
.banner-button {
    font-family: 'SegoePro-Regular', sans-serif;
    font-size: 25.6px;
    max-width: 1024px;
    margin: 0 auto;
    div {
        height: 136px;
        width: 100%;
        background-color: $yellow;
        text-align: center;
        display: table;
        a {
            display: table-cell;
            vertical-align: middle;
            &:hover {
                color: $white;
            }
        }
        &:last-child {
            background-color: $green;
        }
    }
}
.logo-bottom {
    margin: 150px auto;
    max-width: 1024px;
    text-align: center;
}

// ********** Responsive **********
@media all and (max-width: 600px) {
    .content {
        padding: 30px;
        font-size: 18px
    }
}
// ************* END OF Section **************
// ********** END OF Self-arranged****************************************************************************************************
// ********** WAT*********************************************************************************************************************
// sections
.info-banner {
    max-width: 1024px;
    margin: 0 auto;
    font-size: 17.06px;
    div {
        color: $white;
        display: table;
        text-align: center;
        height: 136px;
        width: 100%;
        p {
            display: table-cell;
            vertical-align: middle;
            padding: 0 80px;
            strong {
                font-weight: bold;
            }
        }
    }
    .yellow-box-text {
            background-color: $yellow;
            color: $black;
        }
    .inter-exchange-banner {
        background-color: $grey-light;
        height: 68px;
        line-height: 65px;
        img {
            vertical-align: middle;
        }
    }
    .purple-text-box {
        background-color: $violet;
    }
    .jobs-button {
        background-color: $violet-dark;
        margin-bottom: 30px;
        a {
            font-size: 51.19px;
            display: table-cell;
            vertical-align: middle;
        }
    }
    .white-text-box {
        p {
            color: $black;
            display: block;
            margin-bottom: 30px;
        }
    }
    .large-text-inside {
        p {
            font-size: 34.13px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
.info-grid {
    max-width: 924px;
    margin: 0 auto;
    background-color: $black;
    text-align: center;
    padding: 50px 50px 0 50px;
    .single-grid {
        color: $white;
        width: 406px;
        height: 520px;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 46px;
        position: relative;
        &:nth-child(2n+1) {
            margin-right: 46px;
        }
        .info-img {
            position: relative;
            overflow:hidden;
            width: 406px;
            height: 285px;
            position: absolute;
            left: 0;
            top: 0;
            a {
                .under {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            .over {
                position: absolute;
                left: 0;
                top: 265px;
            }
        }
        &>p {
            position: absolute;
            top: 285px;
            height: 130px;
            font-size: 17.06px;
            span {
                font-size: 34.13px;
            }
        }
        div {
            position: absolute;
            top: 415px;
            color: $black;
            background-color: $yellow;
            height: 100px;
            font-size: 12.8px;
            p {
                display: table-cell;
                vertical-align: middle;
                height: 100px;
                padding: 0 10px;
            }
        }
    }
}
.info-online {
    background-color: $grey-light;
    height: 310px;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    img {
        margin-top: 90px;
        margin-bottom: 30px;
    }
    p {
        margin: 0 100px;
    }
}

// ********** Responsive **********
@media all and (max-width: 970px) {
    .info-grid {
        padding: 50px 100px 0 100px;
        .single-grid {
            &:nth-child(2n+1) {
                margin-right: 0;
            }
        }
    }

    .info-banner {
        div {
            &:nth-child(5) {
                p {
                    padding: 0 100px;
                }
            }
        }
    }
}

@media all and (max-width: 620px) {
    .info-grid {
        padding: 50px 0 0 0;
    }
    .info-banner {
        div {
            p {
                padding: 0 10px;
            }
            &:nth-child(4) {
                a {
                    font-size: 40px;
                }
            }
            &:nth-child(5) {
                p {
                    padding: 0 10px;
                }
            }
        }
        .jobs-button a {
            font-size: 31px;
        }
    }
    .info-online {
        height: auto;
        padding-bottom: 10px;
        p {
            margin: 0 10px;
        }
    }
}
@media all and (max-width: 420px) {
    .info-grid {
        .single-grid {
            display: block;
            position: initial;
            text-align: center;
            height: 460px;
            width: auto;
            .info-img {
                width: 320px;
                height: 225px;
                position: relative;
                display: inline-block;
                .under {
                    width: 320px;
                }
                .over {
                    width: 320px;
                    top: 210px;
                }
            }
            &>p {
                position: initial;
                font-size: 15px;
                top: auto;
                display: inline-block;
                width: 100%;
                span {
                    font-size: 30px;
                }
            }
            div {
                position: initial;
                top: auto;
                display: inline-block;
                width: 100%;
                p {
                    font-size: 12.4px;
                }
            }
            div.offer-description {
                width: 100%;
            }
        }
    }

    .info-banner {
        div {
            &:nth-child(4) {
                a {
                    font-size: 25px;
                }
            }
        }
    }

    .info-online {
        img {
            width: 80%;
            height: auto;
        }
    }

    .content {
        h1 {
            font-size: 2em;
        }
    }

    .form {
        input {
            width: 80%;
        }
        .date {
            select:nth-child(3) {
                width: 25%;
            }
            p {
                width: 100%;
            }
        }
        select {
            width: 80%;
        }
        #submit-button {
            width: 80%;
        }
        div {
            p {
                width: 100%;
            }
        }
        textarea {
            width: 80%
        }
    }
}

@media all and (max-width: 380px) {
    .info-banner {
        .jobs-button a{
            font-size: 21px;
        }
    }
}
// ********** END OF WAT**************************************************************************************************************


















