!!!
%html
  = render 'layouts/head'
  %body
    %header
      .clearfix
        - if params[:locale] == 'bg'
          - replace_root_path = root_locale_path('bg')
        -else
          - replace_root_path = root_locale_path('en')
        = link_to(image_tag("logo.png"), replace_root_path, class: 'logo')
        %a#menuButton
          &nbsp;
        .rightMenu
          //%a{href:"mailto:info@fletcherlynd.com"}
          //%a
          //  &nbsp;
          //%a
          //  &nbsp;
          %div
            = link_to "EN", root_locale_path('en')
            |
            = link_to "BG", root_locale_path('bg')
        %nav#menu
          %ul
            - @pages.sort_by(&:page_order).each do |page|
              - if page.forwards_to.present?
                = link_to page.title, "/#{generate_forwarded_link(page)}"
              - else
                = link_to page.title, static_page_path(friendly_id: page.slug), id: "#{page.slug}" if page.in_main_menu

    - flash.each do |name, msg|
      .space
      = content_tag :div, :class => "alert alert-#{name == :error ? "danger" : "success" } alert-dismissable" do
        %p
          = msg
    = yield
    = render 'layouts/footer'